<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Protect Net Neutrality</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <header id="thankyou-header">
            <h2>Thanks for joining the</h1>
            <img src="/img/fight.jpg" alt="Fight for Net Neutrality"></img>
        </header>

        <div id="user-signature">
            <h2>Your signature matters</h2>
            <img id="signature-img" src="{{sig}}"></img>
            <div id="signers-link">
                <a href="/signers">See all {{num}} people who support Net Neutrality.</a>
                <br><br><a href="/profile/edit">Edit your profile.</a>
                <br><br>
                <form name="delete-signature" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input id="delete-button" type="submit" value="Delete your signature.">
                </form>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    </body>
</html>
