<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Protect Net Neutrality</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <header>
            <h2>Thanks for joining the</h1>
            <img src="/img/fight.jpg" alt="Fight for Net Neutrality"></img>
        </header>

        <div id="user-signature">
            <img src="{{sig}}"></img>
        </div>

        <div id="signers-link">
            <a href="/signers">See all {{num}} people who support Net Neutrality.</a>
        </div>

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    </body>
</html>
